pkgbase = mockoon-bin
	pkgdesc = Mockoon is the easiest and quickest way to run mock APIs locally.
	pkgver = 9.6.1
	pkgrel = 1
	url = https://mockoon.com/
	arch = x86_64
	arch = aarch64
	groups = base-devel
	license = MIT
	source_x86_64 = https://github.com/mockoon/mockoon/releases/download/v9.6.1/mockoon-9.6.1.amd64.deb
	sha256sums_x86_64 = 5bb599cb5fe5b9bbd024b3105e1d747343389990c5a956e69103a67166c2d98d
	source_aarch64 = https://github.com/mockoon/mockoon/releases/download/v9.6.1/mockoon-9.6.1.arm64.deb
	sha256sums_aarch64 = 9379d954d8eb2862600ff4f4c4fd4dbaf9fcc6afdea3cc8c69ff2880c502a813

pkgname = mockoon-bin
