pkgbase = marktext
	pkgdesc = A simple and elegant open-source markdown editor that focused on speed and usability
	pkgver = 0.20.0rc1
	pkgrel = 1
	url = https://www.marktext.cc
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = nodejs
	makedepends = pnpm
	makedepends = python
	depends = electron42
	depends = libxkbfile
	depends = libsecret
	depends = openssl
	depends = ripgrep
	source = marktext-0.20.0-rc.1.tar.gz::https://github.com/marktext/marktext/archive/refs/tags/v0.20.0-rc.1.tar.gz
	source = marktext.sh
	source = marktext-arg-handling.patch
	sha256sums = 6495adc035ba9fd8ef4f992605cc16b2f15f52d5d7a1c6095fe2c6d9694ab192
	sha256sums = 5214b3326020467879aab65d5138591a578e4e69bc46b4427964641ffbd9c8ca
	sha256sums = 7ee21967b63976a582bc585ad8680573494fd14070885161540badb8f6e16ecc

pkgname = marktext
